.navbar {
  padding: 0 10px;
}

*.icon-dark {
  color: grey;
}

.message {
  position: absolute;
  top: 40px;
  right:5px;
}

.search {
  position: relative;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 1px solid grey;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
}

.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  background: grey;
}
