<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>BezKoder - Spring Boot Thymeleaf example</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form th:action="@{/tutorials/save}" method="post" enctype="multipart/form-data" th:object="${tutorial}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" />

        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="title">Title</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{title}" required minlength="2" maxlength="128" class="form-control"
                id="title" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="description">Description</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{description}" minlength="2" maxlength="256" class="form-control"
                id="description" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="level">Level</label>
            <div class="col-sm-9">
              <input type="number" step="1" th:field="*{level}" required min="1"
                class="form-control" id="level" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 form-check-label" for="published">Published</label>
            <div class="col-sm-9">
              <input type="checkbox" th:field="*{published}" />
            </div>
          </div>

          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/tutorials}]]";
      });
    });
  </script>

</body>

</html>